<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="#pablo">TOUR</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <form>
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
        </div>
      </form>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Create Tour</h4>
          <div class="row">
            <div class="col-md-12">
              <%= form_for(@tour, url: admin_tours_path) do |f| %>
                <%= render "shared/error_messages", object: f.object %>
                <div class="col-md-6 admin-form-add-tour">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: "form-control" %>
                  <%= f.label :price %>
                  <%= f.text_field :price, class: "form-control" %>
                  <%= f.label :place %>
                  <%= f.text_field :place, class: "form-control" %>
                  <%= f.label :food %>
                  <%= f.text_field :food, class: "form-control" %>
                </div>
                <div class="col-md-3 admin-form-add-tour">
                  <%= f.label :startdate %>
                  <p><%= f.date_select :startdate %></p>
                  <%= label_tag :departure_time %>
                  <p><%= number_field_tag :departure_time, max: 24, min: 0, step: 0.5 %></p>
                  <%= label_tag :end_time %>
                  <p><%= number_field_tag :end_time, max: 24, min: 0, step: 0.5 %></p>
                </div>
                <div class="col-md-3 admin-form-add-tour">
                  <%= f.label :category %>
                  <p>
                    <select name="tour[category_id]", class="dropdown">
                      <option value="">Chọn danh mục</option>
                      <%= @categorys.each do |category|%>
                        <option value=<%= category.id %>><%= category.name %></option>
                      <% end %>
                    </select>
                  </p>
                  <%= f.label :Image_Thumbnail %>
                  <%= f.file_field :image, class: "form-control-file",
                    accept: 'image/jpeg,image/gif,image/png' %>
                  <%= f.label :Image_Tours %>
                  <%= f.file_field :images, :multiple => true, class: "form-control-file",
                    accept: 'image/jpeg,image/gif,image/png' %>
                  <%= f.submit :Create, class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  ID
                </th>
                <th>
                  Name
                </th>
                <th>
                  Price
                </th>
                <th>
                  Place
                </th>
                <th>
                  Food
                </th>
                <th>
                  Delete
                </th>
              </thead>
              <tbody>
                <%= render partial: "admin/tours/tour", collection: @tours %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Creative Tim
          </a>
        </li>
        <li>
          <a href="http://presentation.creative-tim.com">
            About Us
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright" id="copyright">
      &copy;
      <script>
        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      </script>, Designed by
      <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
      <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
    </div>
  </div>
</footer>
