<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application_admin",
      media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>

<body>
  <!-- Page Wrapper -->
  <div id="wrapper">
    <div class="sidebar" data-color="orange">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
          CT
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Creative Tim
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="./dashboard.html">
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <%= link_to "Management User", admin_users_path %>
          </li>
          <li>
            <%= link_to "Management Tour", admin_tours_path %>
          </li>
          <li>
            <a href="./map.html">
              <p>Management Booking</p>
            </a>
          </li>
          <li>
            <%= link_to "Profile User", current_user %>
            </a>
          </li>
          <li>
            <a href="./tables.html">
              <p>Table List</p>
            </a>
          </li>
          <li>
            <a href="./typography.html">
              <p>Typography</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
